body {
  margin: 0;
  padding: 100px;
  font-family: sans-serif;
  background-image: linear-gradient(to bottom right, red, yellow);
  background-repeat: no-repeat; 
  height: auto;
  background-size: cover;
}

main {
  width: 85vw;
  min-height: 80vh;
  max-width: 1024px;
  margin: 35px auto;
  background: yellowgreen;
  padding: 15px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.navLink{
  margin: 10px;
  padding: 10px;
  color: white;
  background: black;
  text-decoration: none;
}

.navLink:hover{
  background: orange;
}

.grid-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.page-view {
  min-height: 40vh;
}

.grid-view div.card.ui {
  margin: 1.25rem;
}
/*
.main-img {
  display: block;
  border-radius: 100%;
  margin: 0 auto;
} */

header h1 {
  text-align: center;
  color: white;
}

.Characters{
  background: lightcoral;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 20px;
  padding: 20px;
  color: white;
}
